<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>skimp.partner.store</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>SKIPartnerStore</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ExStatusBarIOS6Style</key>
	<true/>
	<key>ExStatusBarIOS7Style</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>MDS</string>
		<string>SKIDemoApp</string>
		<string>SKIMP_I001_P</string>
		<string>SKIMP_I002_P</string>
		<string>SKIMP_I003_P</string>
		<string>SKIMP_I004_P</string>
		<string>SKIMP_I005_P</string>
		<string>SKIMP_I006_P</string>
		<string>SKIMP_I007_P</string>
		<string>SKIMP_I008_P</string>
		<string>SKIMP_I009_P</string>
		<string>SKIMP_I010_P</string>
		<string>SKIMP_I011_P</string>
		<string>SKIMP_I012_P</string>
		<string>SKIMP_I013_P</string>
		<string>SKIMP_I014_P</string>
		<string>SKIMP_I015_P</string>
		<string>SKIMP_I016_P</string>
		<string>SKIMP_I017_P</string>
		<string>SKIMP_I018_P</string>
		<string>SKIMP_I019_P</string>
		<string>SKIMP_I020_P</string>
		<string>SKIMP_I021_P</string>
		<string>SKIMP_I022_P</string>
		<string>SKIMP_I023_P</string>
		<string>SKIMP_I024_P</string>
		<string>SKIMP_I025_P</string>
		<string>SKIMP_I026_P</string>
		<string>SKIMP_I027_P</string>
		<string>SKIMP_I028_P</string>
		<string>SKIMP_I029_P</string>
		<string>SKIMP_I030_P</string>
		<string>SKIMP_I031_P</string>
		<string>SKIMP_I032_P</string>
		<string>SKIMP_I033_P</string>
		<string>SKIMP_I034_P</string>
		<string>SKIMP_I035_P</string>
		<string>SKIMP_I036_P</string>
		<string>SKIMP_I037_P</string>
		<string>SKIMP_I038_P</string>
		<string>SKIMP_I039_P</string>
		<string>SKIMP_I040_P</string>
		<string>SKIMP_I041_P</string>
		<string>SKIMP_I042_P</string>
		<string>SKIMP_I043_P</string>
		<string>SKIMP_I044_P</string>
		<string>SKIMP_I045_P</string>
		<string>SKIMP_I046_P</string>
		<string>SKIMP_I047_P</string>
		<string>SKIMP_I048_P</string>
		<string>SKIMP_I049_P</string>
		<string>SKIMP_I050_P</string>
		<string>SKIMP_I051_P</string>
		<string>SKIMP_I052_P</string>
		<string>SKIMP_I053_P</string>
		<string>SKIMP_I054_P</string>
		<string>SKIMP_I055_P</string>
		<string>SKIMP_I056_P</string>
		<string>SKIMP_I057_P</string>
		<string>SKIMP_I058_P</string>
		<string>SKIMP_I059_P</string>
		<string>SKIMP_I060_P</string>
		<string>SKIMP_I061_P</string>
		<string>SKIMP_I062_P</string>
		<string>SKIMP_I063_P</string>
		<string>SKIMP_I064_P</string>
		<string>SKIMP_I065_P</string>
		<string>SKIMP_I066_P</string>
		<string>SKIMP_I067_P</string>
		<string>SKIMP_I068_P</string>
		<string>SKIMP_I069_P</string>
		<string>SKIMP_I070_P</string>
		<string>SKIMP_I071_P</string>
		<string>SKIMP_I072_P</string>
		<string>SKIMP_I073_P</string>
		<string>SKIMP_I074_P</string>
		<string>SKIMP_I075_P</string>
		<string>SKIMP_I076_P</string>
		<string>SKIMP_I077_P</string>
		<string>SKIMP_I078_P</string>
		<string>SKIMP_I079_P</string>
		<string>SKIMP_I080_P</string>
		<string>SKIMP_I081_P</string>
		<string>SKIMP_I082_P</string>
		<string>SKIMP_I083_P</string>
		<string>SKIMP_I084_P</string>
		<string>SKIMP_I085_P</string>
		<string>SKIMP_I086_P</string>
		<string>SKIMP_I087_P</string>
		<string>SKIMP_I088_P</string>
		<string>SKIMP_I089_P</string>
		<string>SKIMP_I090_P</string>
		<string>SKIMP_I091_P</string>
		<string>SKIMP_I092_P</string>
		<string>SKIMP_I093_P</string>
		<string>SKIMP_I094_P</string>
		<string>SKIMP_I095_P</string>
		<string>SKIMP_I096_P</string>
		<string>SKIMP_I097_P</string>
		<string>SKIMP_I098_P</string>
		<string>SKIMP_I099_P</string>
	</array>
	<key>AppIdentifierPrefix</key>
	<string>$(AppIdentifierPrefix)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string></string>
	<key>NSCameraUsageDescription</key>
	<string></string>
	<key>NSFaceIDUsageDescription</key>
	<string></string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string></string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
